# Temporary Python files
*.pyc
*.pot
*.egg-info
__pycache__

# Temporary Django files
*.log
local_settings.py
*.db
uploads/

# Temporary OS files
Icon*

# Temporary virtualenv files
.cache
env

# Generated documentation
docs/gen
apidocs
docs/*.html
*.rst
docs/*.png

# Google Drive
*.gdoc
*.gsheet
*.gslides
*.gdraw

# Testing and coverage results
.coverage
pyunit.xml

# Build and release directories
build
dist

static/

# Sublime Text
*.sublime-workspace

# Eclipse
.settings

# Komodo
*.komodoproject

# PyCharm
.idea/
