{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{% block extrastyle %}
    <link rel='stylesheet' type='text/css' href='{% static "css/admin.css" %}' />
    <meta name=viewport content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}{{ title }} | {% trans 'Thrive admin' %}{% endblock %}

{% block branding %}
<div id="site-name" style="width:20px; float: left;">
    <a href="/admin"><img src='{% static "admin/img/logo.png"%}'>
    </a>
</div>
<div id="nav-global" class="pull-left btn-group">
    <a href="{% url 'admin:index' %}" class="btn btn-primary">Home</a>
</div>
<div id="nav-global" class="pull-left btn-group">
	<a href="{% url 'swingtime-calendar' %}" class="btn btn-info">Calendar</a>
</div>
</h1>
{% endblock %}

{% block nav-global %}

{% endblock %}
