{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <link rel='stylesheet' type='text/css' href='{% static "css/admin.css" %}' />
{% endblock %}

{% block title %}{{ title }} | {% trans 'Thrive admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name" style="width:500px; float: left;">
    <a href="/admin">
    {% trans 'Thrive Admin' %}
    </a>
</h1>
{% endblock %}

{% block nav-global %}
<div id="nav-global" class="pull-right">
	<a href="/calendar"><img src="{% static 'admin/img/icon_calendar.gif' %}" title="Calendar" width="24px"></a>
</div>
{% endblock %}
