#user-tools {
    right: 36px;
}

#nav-global {
    top: 0;
    right: 0;
    padding: 0.2em 10px;
}
#nav-global img {
    vertical-align: top;
}

input.vDateField, input.vIntegerField, input[type=number] {
    width: 100px;
}