.errorlist {
    color: red;
}

.messages {
    background-color: #DDD;
    border: 1px solid;
    display: inline-block;
    float: right;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 1em;
}
.messages .info {
    color: green;
}

input[name=_delete] {
    color: red;
    margin-left: 5em;
}
