form table li {
    list-style-type: none;
}

.form-indent { margin-left: 2.5em; }
.horizontal { width: 30em; }
    .horizontal li { float: left; margin: 0; }
    .horizontal li label { width: 4em; display: block; float: left; }
#recurrence-options { float: left; }
    #recurrence-options li { margin-bottom: 4px; }

#add_occurrences { cursor: pointer; }

@media (max-device-width: 600px) {
    #subscribe-instructions {
        font-size: 450%;
        line-height: 1em;
    }
    #subscribe-instructions h4 {
        font-size: 100%;
    }
}