{% extends "admin/base.html" %}
{% load i18n %}
{% load admin_static %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'/>
    <link rel='stylesheet' type='text/css' href='{% static "css/calendar.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "cal/fullcalendar.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "css/admin.css" %}' />
    <script type="text/javascript" src="{% static 'cal/jquery.min.js' %}"></script>
    <script type='text/javascript' src='{% static "cal/jquery-ui.custom.min.js" %}'></script>
    <script type='text/javascript' src='{% static "cal/fullcalendar.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery-ui-1.10.3-datepicker.min.js" %}'></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extended_head %}{% endblock %}
{% endblock %}

{% block nav-global %}

{% endblock %}

{% block branding %}
<div id="site-name" style="width:120px; float: left;">
    <a href="/admin"><img src='{% static "admin/img/thrive-admin-logo-WHITE.png"%}'>
    </a>
</div>
<div id="nav-global" class="pull-left btn-group">
    <a href="{% url 'admin:index' %}" class="btn btn-primary">Home</a>
</div>
<div id="nav-global" class="pull-left btn-group">
    <a href="{% url 'swingtime-calendar' %}" class="btn btn-info">Calendar</a>
</div>
{% endblock %}

{% comment %} not sure if there's anything to put in the breadcrumbs... {% endcomment %}
{% block breadcrumbs %} {% endblock %}

{% block content %}
    <div class="row-fluid dashboard-tools">
        <div id="content">
            {% block navigation %}


            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% endblock navigation %}
            {% block main_content %}{% endblock main_content %}
        </div>
    </div>
{% endblock %}
