{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="django swingtime demo">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/media/css/demo.css" type="text/css" media="screen"> -->
    <link rel='stylesheet' type='text/css' href='//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'/>
    <link rel='stylesheet' type='text/css' href='{% static "cal/fullcalendar.css" %}' />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-responsive.min.css" %}" />
    <link rel='stylesheet' type='text/css' href='{% static "css/admin.css" %}' />
    <script type="text/javascript" src="{% static 'cal/jquery.min.js' %}"></script>
    <script type='text/javascript' src='{% static "cal/jquery-ui.custom.min.js" %}'></script>
    <script type='text/javascript' src='{% static "cal/fullcalendar.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery-ui-1.10.3-datepicker.min.js" %}'></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block extended_head %}{% endblock %}
</head>
<body>
    <div class="container" id="main">
        <div id="header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner" id="nav-menu-top-bar">
                <div class="container-fluid">
                    <a href="/admin"><h1 style="width:500px; float: left;">Thrive Admin</h1></a>
                    <div id="nav-global" class="pull-right">
                	<a href="/admin" ><img src="{% static 'admin/img/icon_changelink.gif' %}" title="Admin" width="24px"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            {% block page_title %}
                <h3>Thrive: A Refugee Support Program</h3>
            {% endblock page_title %}
            {% block navigation %}


            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <p style="font-weight: bold; ">
                <a href="{% url 'swingtime-calendar' %}">View Calendar</a>
                &mdash;
                <a href="{% url "swingtime-add-event" %}">Add Event</a>
            </p>
            <hr />
            {% endblock navigation %}
            {% block main_content %}{% endblock main_content %}
        </div>
    </div>
</body>
</html>
