{% extends "swingtime/base.html" %}
{% load url from future %}
{% load static %}
{% load ical %}
{% block title %}Thrive Calendar{% endblock %}
{% block page_title %}
    <h3>
        Thrive Calendar
    </h3>
{% endblock page_title %}
{% block main_content %}
    <div id="subscribe-instructions">
        <p>
            How to subscribe to this calendar ...
            <a href="{% ical %}"><img src="{% static 'ical.gif' %}" alt="ICAL" title="iCalendar feed"></a>
            <button class=expando data-target="#howto-iphone">on an iOS device</button>
            <button class=expando data-target="#howto-gcal">with Google Calendar</button>
            <button class=expando data-target="#howto-android">on an Android device</button>
        </p>
    </div>
    <script>
        $(function() {
            $('.expando').click(function() {
                $($(this).attr('data-target')).toggle('long');
            });
        });
    </script>
    <div id="howto-iphone" style="display: none">
        <h4>On an iOS device</h4>
        <ol>
            <li>Touch the ICAL button.</li>
            <li>Follow the prompts.</li>
        </ol>
    </div>
    <div id="howto-android" style="display: none">
        <h4>On an Android device</h4>
        <ol>
            <li>Long-press the ICAL button.</li>
            <li>Select "Copy link address".</li>
            <li><a href="https://calendar.google.com/" target="_blank">Touch here to open your Google Calendar</a>.</li>
            <li>If necessary, login to your Google account.</li>
            <li>Touch the little triangle next to "Other calendars".</li>
            <li>Select "Add by URL".</li>
            <li>Long-press in the "URL:" input box.</li>
            <li>Select "Paste".</li>
            <li>Press the "Add Calendar" button.</li>
        </ol>
    </div>
    <div id="howto-gcal" style="display: none">
        <h4>With Google Calendar</h4>
        <ol>
            <li>Click the ICAL button.</li>
            <li>If asked, login to your Google account.</li>
            <li>Click on the "Yes, add this calendar" button.</li>
        </ol>
    </div>
    <div id="calendar"></div>
    <script>
$(function() {
    $('#calendar').fullCalendar({
        editable: false,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        events: "/calendar/json"
    })

});
    </script>
{% endblock %}
