{% extends "swingtime/base.html" %}
{% load url from future %}
{% block title %}Event Occurrence{% endblock %}
{% block main_content %}
     <h3>Swingtime Event Occurrence</h3>
     <h4>
         <a href="{{ occurrence.event.get_absolute_url }}">{{ occurrence.title }}</a>
     <dl>
         <dt>Event type:</dt>
         <dd>{{ occurrence.event.event_type }}</dd>

         <dt>Description:</dt>
         <dd>{{ occurrence.event.description|default:"None" }}</dd>

     </dl>

     <form action="" method="post">
     {% csrf_token %}
     <table>
         <tfoot>
             <tr>
                 <td colspan="2">
                    <input type="submit" value="Update" />
                    <input type="submit" name="_delete" value="Delete" class="warning" onclick="return confirm('Are you sure?')"/>
                 </td>
             </tr>
         </tfoot>
         <tbody>
             {{ form }}
         </tbody>
     </table>
     </form>

{% endblock %}
